@import 'tailwindcss';

body {
  font-family: 'Rubik', sans-serif;
}

@theme {
  --color-body: #f7fafc;
  --color-borders: #e1e1e4;
  --color-main: #191919;
  --color-sec: #d2d6da;
  --color-dark: #0b0c0c;
}
